# sudo useradd --comment "Jenkins Agent" --create-home jenkins
# Path: /etc/systemd/system/jenkins_agent.service
# sudo systemctl enable jenkins_agent.service
[Unit]
Description=Jenkins Agent
Wants=network-online.target
After=network.target network-online.target

[Service]
Restart=always
User=jenkins
ExecStart=java -jar /home/jenkins/agent.jar -jnlpUrl https://jenkins.rdok.dev/computer/falcon9/slave-agent.jnlp -secret @/home/jenkins/secret-file -workDir "/home/jenkins/data"

[Install]
WantedBy=multi-user.target